.footer {
  background: #232f3e;
  color: #fff;
  border-bottom: 1px solid #3e4650;
}
.footer-top {
  border-bottom: 1px solid #3e4650;
  height: 50px;
 display: flex;
 justify-content: center;
  transition: 0.3s;
}
.footer-top:hover {
  background: #485769;
}
.footertext {
  text-decoration: none;
  color: #ffff;
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 10px;
}
.footertext:hover {
  color: #fff;
}

.left-footer {
  margin-top: 50px;
  margin-bottom: 100px;
}
.left-footer ul {
  list-style: none;
  align-items: left;
  
}
.left-footer ul li a {
  text-decoration: none;
  color: #fff;
  margin-left: -30px;
  line-height: 28px;
  
}
